doctype html
html
head
	
	script(src="https://cdn.shopify.com/s/assets/external/app.js" type="text/javascript")
	script(src="/javascripts/cookie.js" type="text/javascript")
	script(src="/html/home.js" type="text/javascript")
body
	form(method="POST", action="action/setdefaultemail")
		input(type="email", name="email", value="#{defaultEmail}")
		input(type="submit", value="Change target email")

	div
		input(type="checkbox", onchange="toggleWebhook(this.checked, 'customer_create')", checked="#{hasWebhook.customer_create}")
		| notify me when a customer is created.
