doctype html
html
body
	if shop.shopInfo.name
		div Hello #{shop.shopInfo.name},
	else 
		div Hello Shop Manager,
	br
	div 
		| A new dispute has been created for your shop.
	br
	div 
		| Regards,
	div
		| EmailMyWebhooks