doctype html
html
body
	if shop.shopInfo.name
		div Hello #{shop.shopInfo.name},
	else 
		div Hello Shop Manager,
	br
	div 
		| A new dispute has been created for your shop. Check out the dispute
		a(href='https://#{shop.shop}/admin/customers/#{body.id}') 
			| TO ADD:here
		|.
	br
	div 
		| Regards,
	div
		| EmailMyWebhooks